.intro-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(144, 185, 214), #6dc4fe, #024589);
  color: white;
  font-family: Arial, sans-serif;
  transition: opacity 2s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.intro-content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.intro-text2 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.intro-text2 h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.intro-text2 p {
  font-size: 18px;
}

.image-container2 {
  height: 1000px; /* Adjust the height as needed */
  width: 1000px; /* Adjust the width as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container2 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #555; /* Adjust the color as needed */
}